#head{
    margin-top: -350px;
}
#list{
    color: #9CA3AF;
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    margin-top: 10px;
}
.task-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
  margin: 12px auto;
}

.task-text {
  color: #9ca3af;
  font-size: 25px;
}

.completed-btn {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #01ff67;
  color: rgb(255, 255, 255);
  border: none;
  padding: 6px 14px;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

#m{
    color: #9CA3AF;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
   

}